name: Build

on:
  workflow_dispatch:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Lint
        run: |
          ./gradlew ktlintCheck
      - name: Detekt
        run: |
          ./gradlew detekt
      - name: Build
        run: |
          ./gradlew build
      - name: Store reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
